<% @places.each do |place| %>
    <div class="container">
        <div class="booyah-box">
            <h1><%= place.name %></h1>
            <i><%= place.address %></i>
            <br />
            <p><%= place.description %></p>
            <br />
        </div>
    </div>
<% end %>

<div class="container">
    <div class="paginate">
        <%= will_paginate @places %>
    </div>
</div>